{% extends 'forum/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Check your mail</h1>
            <p>There is an activation code in your mailbox. We applaud you to check your mail.</p>
            </p>
        </header>

    </div>
<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
{% endblock %}