<style>
    div {
        width: 600px;
        margin: auto;
     }

     li {
        display: inline-block;
}
</style>

<div>
    <ul>
    <li><a href="http://stores.ebay.co.uk/Signware/For-Walls-/_i.html?_fsub=1806276619&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">Wall Display Systems</a></li>
    <li><a href="http://stores.ebay.co.uk/Signware/For-Windows-/_i.html?_fsub=1806276419&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">Window Display Systems</a></li>
    <li><a href="http://stores.ebay.co.uk/Signware/For-Ceilings-/_i.html?_fsub=1806276519&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">Ceiling Display Systems</a></li>
    <li><a href="http://stores.ebay.co.uk/Signware/For-Floors-/_i.html?_fsub=1806276719&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">Floor Display Systems</a></li>
    <li><a href="http://stores.ebay.co.uk/Signware/Merchandising-Accessories-/_i.html?_fsub=1806276819&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">In-Store Displays</a></li>
    <li><a href="http://stores.ebay.co.uk/Signware/Signware-Exlusive-/_i.html?_fsub=1806280119&_sid=1601798509&_trksid=p4634.c0.m322" target="_blank" style="color:#000000">Signware Exclusive</a></li>
    </ul>
</div>

    title = models.CharField(max_length=500, null=True, blank=True)
