{% extends 'forum/base.html' %}
{% block view %}
<table>
    <tr>
        <th>Question:</th>
        <th>Tags:</th>
        <th>Date posted:</th>
    </tr>
    {% for item in query %}
    <tr>
        <td>{{ item.question }}</td>
        <td>{{ item.tag }}</td>
        <td>{{ item.created }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<a class="btn btn-default" href="{% url 'add_comment_to_post' question_url_id=question.id %}">Add comment</a>
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}