{% extends 'forum/base.html' %}
{% block view %}
<table>
    <tr>
        <th>Question:</th>
        <th>Tags:</th>
        <th>Date posted:</th>
    </tr>
    {% for item in query %}
    <tr>
        <td>{{ item.question }}</td>
        <td>{{ item.tag }}</td>
        <td>{{ item.created }}</td>
    </tr>
</table>
<br>
<a class="btn btn-default" href="{% url 'forum:add_comment_to_post' question_url_id=item.id %}">Add comment</a>
    {% endfor %}
<hr>
        {% for comment in querytwo %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text }}</p>
    </div>
        {% endfor %}

{% endblock %}
