{% extends 'forum/base.html' %}
{% block view %}
<style>
    .text-actually {
        font-size: 30px;
        padding-left: 20px;
        }
</style>
<table>
        {% for item in query %}
    <tr>
        <td>Date: </td>
        <td class="text-actually">{{ item.created }}</td>
    </tr>
    <tr>
        <td>Title: </td>
        <th class="text-actually">{{ item.title }}</th>
    </tr>
    <tr>
        <td>Question:</td>
        <td class="text-actually">{{ item.question }}</td>
    </tr>
    <tr>
        <td>Tags: </td>
        <td class="text-actually">{{ item.tag }}</td>
    </tr>
</table>
<br>
<a class="btn btn-default" href="{% url 'forum:add_comment_to_post' question_url_id=item.id %}">Add comment</a>
    {% endfor %}
<hr>
        {% for comment in querytwo %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text }}</p>
    </div>
        {% endfor %}

{% endblock %}
