<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welcome to Exenv</title>
</head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Exenv</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          {% block nav-forum %}<li><a href="#">Ask</a></li>{% endblock %}
          {% block nav-answer%}<li><a href="#">Answer</a></li>{% endblock %}
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
{% block form %}
{% endblock %}
{% block view %}
{% endblock %}
{% block AllQuestions %}
{% endblock %}